<div class="jumbotron">
  <h2><%= gettext "Here comes awesome vis!" %></h2>
</div>
<div>
<script>
let d3 = require('js/app').d3;
  d3.json("<%= static_path(@conn, "/data/cargraph.json") %>").then(function(value) {
		console.log(value);
	});
</script>
</div>
