/* This file is for your main application css. */
.logo {
  width: 160px;
  height: 148px;
  display: inline-block;
  margin-bottom: 1em;
  background-image: url("/images/bioquilt_logo.png");
  background-size: 160px 148px;
}